*,
*:before,
*:after {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: $font;
}
ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-texto);
  font-weight: 700;
}
a:visited {
  color: unset;
}
a {
  text-decoration: none;
}
.gif {
  width: 357px;
  height: 275px;
  position: relative;
  margin: 10px 0;
  .prueba-gifs {
    padding-top: 7px;
    display: none;
    position: absolute;
    width: 195px;
    top: 0;
    li {
      .b-like,
      .b-down,
      .b-exp {
        position: absolute;
        right: -155px;
        width: 32px;
        height: 32px;
        opacity: 1;
      }
      .b-like {
        right: -75px;
        &:hover {
          background-image: url(../assets/icon-fav-hover.svg);
          background-repeat: no-repeat;
        }
      }
      .b-down {
        right: -115px;
        &:hover {
          background-image: url(../assets/icon-download-hover.svg);
          background-repeat: no-repeat;
        }
      }
      .b-exp {
        &:hover {
          background-image: url(../assets/icon-max-hover.svg);
          background-repeat: no-repeat;
        }
      }
    }
  }
  &:hover {
    background-color: $main_color;
    img {
      opacity: 0.3;
    }
    .prueba-gifs {
      display: block;
    }
  }
}
.gif2 {
  width: 357px;
  height: 275px;
  display: flex;
  position: relative;

  .prueba-gifs {
    padding-top: 7px;
    display: none;
    position: absolute;
    width: 195px;
    top: 0;
    li {
      .b-like,
      .b-down,
      .b-exp {
        opacity: 1;
      }
      .b-like {
        &:hover {
          background-image: url(../assets/icon-fav-hover.svg);
          background-repeat: no-repeat;
        }
      }
      .b-down {
        &:hover {
          background-image: url(../assets/icon-download-hover.svg);
          background-repeat: no-repeat;
        }
      }
      .b-exp {
        &:hover {
          background-image: url(../assets/icon-max-hover.svg);
          background-repeat: no-repeat;
        }
      }
    }
  }
  &:hover {
    background-color: $main_color;
    img {
      opacity: 0.3;
    }
    .prueba-gifs {
      display: flex;
      justify-content: flex-end;
    }
  }
}

