header {
  border-top: solid 5px $main_color;
  width: 100%;
  margin-bottom: 50px;

  .head {
    // Comienzo de clase "head"
    margin: 5%;
    display: flex;
    justify-content: space-between;
    .test {
      display: flex;
      #burger {
        align-self: center;
      }
      ul {
        display: none;
      }
      #btn_add {
        display: none;
      }
    }
    // Final de clase "head"
  }
  .search {
    h1 {
      font-size: 25px;
      margin: 0 auto;
      max-width: 250px;
      color: $main_color;
      text-align: center;
      .g_color {
        color: $sec_color;
      }
    }
    ul {
      li {
        text-align: center;
        img {
          width: 70%;
        }
      }
    }
    form {
      margin: 0 auto;
      width: 90%;
      border-radius: 27px;
      border: solid 1px $main_color;
      padding-left: 10px;
      height: 50px;
      display: flex;
      justify-content: space-between;

      input::placeholder {
        text-align: center;
        font-size: 1em;
        color: $fourth_color;
      }
      input {
        height: 48px;
        width: 150px;
        margin-left: 15px;
        border-radius: 27px;
        outline: none
        
      }
      
      img {
        width: 25px;
        margin-right: 15px;
      }
    }
    .text1 {
      margin-top: 30px;
      text-align: center;
      span {
        display: block;
        margin: 0 auto;
        color: $main_color;
        max-width: 225px;
        line-height: 25px;
      }
    }
  }
}
