header {
  border-top: solid 5px var(--color-linea);
  background-color: var(--background);
  width: 100%;
  padding-bottom: 50px;

  .head {
    // Comienzo de clase "head"
    margin: 5%;
    display: flex;
    justify-content: space-between;

    .logo {
      background: var(--logo-mobile) no-repeat;
      width: 56px;
      height: 49px;
    }

    .burger-responsive {
      display: flex;
      .burger {
        align-self: center;
        background: var(--menu-hamburguesa) no-repeat;
        width: 15px;
        height: 14px;
      }
      ul {
        display: none;
      }
      #btn-add {
        display: none;
      }
    }
    // Final de clase "head"
  }
  .search {
    h1 {
      font-size: 30px;
      margin: 0 auto;
      max-width: 250px;
      color: var(--color-texto);
      text-align: center;
      margin-bottom: 20px;
      .g_color {
        color: $sec_color;
      }
    }
    ul {
      margin: 0 auto;
      width: 70%;
      li {
        display: flex;
        text-align: center;
        img {
          width: 100%;
        }
      }
    }
    form {
      margin: 0 auto;
      width: 90%;
      border-radius: 27px;
      border: solid 1px var(--color-texto);
      padding-left: 10px;
      .search-div {
        margin: 0 auto;
        padding: 10px 0;
        width: 100%;
        display: grid;
        grid-template: "input  boton";
        grid-template-columns: 9fr 1fr;

        input {
          grid-area: input;
        }
        input::placeholder {
          font-size: 13px;
          color: $fourth_color;
        }
        input {
          outline: none;
          margin-left: 15px;
          padding-left: 10px;
          border-radius: 27px;
          font-size: 13px;
          background-color: var(--background);
          color: var(--color-input);
        }
        #search-icon {
          grid-area: boton;
          background: var(--icono-busqueda) no-repeat;
          width: 20px;
          height: 20px;
          cursor: pointer;
        }
      }
      .suggestions {
        padding: 5px 0;
        margin: 0 auto;
        width: 95%;
        border-top: solid 1px var(--color-texto);
        display: none;
        flex-direction: column;
        span {
          cursor: pointer;
          padding: 2px 0;
          padding-left: 15px;
          color: var(--color-texto);
        }
      }
    }
    .results {
      padding: 50px;
      color: var(--color-texto);
      max-width: 1400px;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      margin: 0 auto;
    }
    .cuadrogip {
      width: 100%;
      height: 275px;
    }
    .button-more {
      margin: 0 auto;
      background: var(--ver-mas);
      width: 127px;
      height: 50px;
      cursor: pointer;
      display: none;
      &:hover {
        background: var(--ver-mas-hover);
      }
    }
    .text1 {
      margin-top: 30px;
      text-align: center;
      span {
        display: block;
        margin: 0 auto;
        color: var(--color-texto);
        max-width: 225px;
        line-height: 25px;
      }
    }
  }

  // Favorites
  .favs {
    text-align: center;
    .fav-span {
      display: block;
      padding-top: 5px;
      color: var(--color-texto);
      font-size: 25px;
      font-weight: 500;
    }
  }
  .favsContainer {
    margin:  40px 0;
    li {
      margin: 15px auto;
      width: 150px;
      height: 151px;
      list-style-type: none;
      img {
        width: 100%;
      }
    }
    span {
      max-width: 400px;
      display: block;
      text-align: center;
      margin: 0 auto;
      font-size: 22px;
      color: $sec_color;
    }
  }
}
@media screen and (min-width: 768px) {
  header {
    // Inicio de header
    .head {
      margin: 1% 5% 5%;
      justify-content: space-between;

      .logo {
        background: var(--logo) no-repeat;
        width: 68px;
        height: 60px;
      }
      .burger-responsive {
        width: 50%;
        justify-content: space-evenly;
        .burger {
          display: none;
        }
        a {
          color: var(--color-texto);
        }
        ul {
          display: block;
          align-self: center;
          li {
            display: inline-block;
            padding: 0 15px;
            color: var(--color-texto);
            font-weight: 700;
            span {
              cursor: pointer;
            }
          }
        }
        #btn-add {
          background: var(--crear);
          width: 54px;
          height: 54px;
          display: block;
        }
      }
    }
    .search {
      h1 {
        max-width: 500px;
        font-size: 35px;
      }
      ul {
        max-width: 500px;
        width: 60%;
        li {
          img {
            width: 100%;
          }
        }
      }
      form {
        max-width: 700px;

        width: 60%;
        input {
          width: 90%;
        }
        #search-icon {
          width: 5%;
        }
      }
      .text1 {
        span {
          max-width: unset;
        }
      }
    }
    // Fin de header
  }
}
