@import "variables";
.main {
  background-color: var(--background-trending);
  color: var(--color-texto);
  padding: 60px 0 60px 0;
  .main-text1 {
    text-align: center;
    span {
      display: block;
      margin: 0 auto;
      max-width: 163px;
      line-height: 25px;
    }
  }
  .slider {
    ul {
      margin: 50px 0;
      display: flex;
      justify-content: center;
      li {
        display: inline;
        padding: 0 10px;
        img {
          width: 100%;
        }
      }
    }
  }
  }


.create {
  margin: 0px 5%;
  align-content: center;
  .cam_flex {
    display: flex;
    flex-direction: row;
    align-content: center;
    .move1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      div {
        display: flex;
        flex-direction: row;
        img {
          position: relative;
          right: 5%;
        }
      }
    }
    .cam_content {
      display: flex;
      border: solid 1px $main_color;
      width: 60%;
      height: 500px;
    }
    .rail {
      position: relative;
      top: 110%;
      left: 60px;
    }
  }
  .center {
    margin: 5%;
    .pasos {
      display: flex;
      justify-content: center;
      div {
        display: flex;
        width: 50%;
        justify-content: space-around;
      }

    }
    .line {
      border: solid 5px $main_color;
      align-content: center;
      border-radius: 25px;
      width: 100%;
      margin-top: 3%;
    } 
  }  
}



  @media screen and (min-width: 768px) {
    .main {      
    // Inicio de main
    .main-text1 {
      span {
        max-width: unset;
      }
    }
    .slider {
      display: block;
      ul {
        align-self: center;
        width: 100%;

        #btn-left {
          background: var(--boton-scroll-izquierda) no-repeat;
          width: 40px;
          height: 40px;
          align-self: center;
          outline: none;
        }
        #btn-right {
          background: var(--boton-scroll-derecha) no-repeat;
          width: 40px;
          height: 40px;
          align-self: center;
          outline: none;
        }
      }
    }
    // Fin de main
  }
  }
  