@media screen and (min-width: 768px) {
  header {
    // Inicio de header
    .head {
      margin: 1% 5% 5%;
      justify-content: space-between;

      .burger-responsive {
        width: 50%;
        justify-content: space-evenly;
        #burger {
          display: none;
        }
        ul {
          display: block;
          align-self: center;
          li {
            display: inline-block;
            padding: 0 15px;
            color: $main_color;
            font-weight: 700;
          }
        }
        #btn_add {
          display: block;
        }
      }
    }
    .search {
      h1 {
        max-width: 500px;
        font-size: 35px;
      }
      ul {
        width: 30%;
        li {
          img {
            width: 100%;
          }
        }
      }
      form {
        width: 35%;
      }
      .text1 {
        span {
          max-width: unset;
        }
      }
    }
    // Fin de header
  }
  .main {
    // Inicio de main
    .main-text1 {
      span {
        max-width: unset;
      }
    }
    .slider {
      display: block;
      ul {
        align-self: center;
        width: 100%;

        #btn-left {
          background-image: url("../assets/button-slider-left.svg");
          width: 40px;
          height: 40px;
          align-self: center;
          outline: none;
        }
        #btn-right {
          background-image: url("../assets/Button-Slider-right.svg");
          width: 40px;
          height: 40px;
          align-self: center;
          outline: none;
        }
      }
    }
    // Fin de main
  }
  footer {
    // Inicio de footer
    margin: 2.5% 0% 0%;
    .foot {
      margin: 0 5% 2.5%;
      display: flex;
      justify-content: space-between;
      .footer-divider {
        width: 20%;
        display: flex;
        justify-content: space-evenly;
        span {
          display: block;
          margin: unset;
        }
        ul {
          li {
            display: inline;
            padding: 0 10px;
          }
        }
      }
      .copy {
        display: block;
        margin: unset;
      }
    }
    // Fin de footer
  }
}
