// Importacion de elementos
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// Variables

// Colores

$main_color: #572EE5;
$sec_color: #50E3C2;
$third_color: #F3F5F8;
$fourth_color: #9CAFC3;

// Fuentes

$font:'Roboto', sans-serif;

