// Importacion de elementos
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// Variables

// Colores

$main_color: #572EE5;
$sec_color: #50E3C2;

// Fuentes

$font:'Roboto', sans-serif;

