@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:root {
  --crear: url("../assets/button-crear-gifo.svg");
  --crear-active: url("../assets/CTA-crear-gifo-active.svg");
  --crear-hover: url("../assets/CTA-crear-gifo-hover.svg");
  --menu-hamburguesa: url("../assets/burger.svg");
  --menu-hamburguesa-cerrar: url("../assets/close.svg");
  --logo-mobile: url("../assets/logo-mobile.svg");
  --logo: url("../assets/logo-desktop.svg");
  --header-background-mobile: rgba(87, 46, 229, 0.9);
  --cabecera-background-mobile: #ffffff;
  --background: #ffffff;
  --background-trending: #f3f5f8;
  --color-texto: #572ee5;
  --color-texto-crear: #ffffff;
  --color-linea: #572ee5;
  --color-texto-pie: #000000;
  --color-input: #9cafc3;
  --borde-input: 1px solid #572ee5;
  --icono-busqueda: url("../assets/icon-search.svg");
  --boton-scroll-derecha: url("../assets/button-slider-right.svg");
  --boton-scroll-izquierda: url("../assets/button-slider-left.svg");
  --ver-mas: url("../assets/CTA-ver-mas.svg");
  --ver-mas-hover: url("../assets/CTA-ver-mas-hover.svg");
  --paso-a-paso: url("../assets/paso-a-paso.svg");
  --paso-a-paso-hover: url("../assets/paso-a-paso-hover.svg");
  --camara: url("../assets/camara.svg");
  --camara-luz: url("../assets/element-luz-camara.svg");
  --pelicula: url("../assets/pelicula.svg	");
}

[data-theme="dark"] {
  --crear: url("../assets/CTA-crar-gifo-modo-noc.svg");
  --crear-active: url("../assets/CTA-crear-gifo-active-modo-noc.svg");
  --crear-hover: url("../assets/CTA-crear-gifo-hover-modo-noc.svg");
  --menu-hamburguesa: url("../assets/burger-modo-noct.svg");
  --menu-hamburguesa-cerrar: url("../assets/close-modo-noct.svg");
  --logo-mobile: url("../assets/logo-mobile-modo-noct.svg");
  --logo: url("../assets/logo-modo-noc.svg");
  --header-background-mobile: #000000;
  --cabecera-background-mobile: #37383c;
  --background: #37383c;
  --background-trending: #222326;
  --color-texto: #ffffff;
  --color-linea: #000000;
  --color-texto-pie: #ffffff;
  --color-texto-crear: #000000;
  --color-input: #ffffff;
  --borde-input: 1px solid ##ffffff;
  --icono-busqueda: url("../assets/icon-search-mod-noc.svg");
  --boton-scroll-derecha: url("../assets/button-slider-right-md-noct.svg");
  --boton-scroll-izquierda: url("../assets/button-slider-left-md-noct.svg");
  --ver-mas: url("../assets/CTA-ver+-modo-noc.svg");
  --ver-mas-hover: url("../assets/CTA-ver+hover-modo-noc.svg");
  --paso-a-paso: url("../assets/paso-a-paso-mod-noc.svg");
  --paso-a-paso-hover: url("../assets/paso-a-paso-hover-mod-noc.svg");
  --camara: url("../assets/camara-modo-noc.svg");
  --camara-luz: url("../assets/element-luz-camara.svg");
  --pelicula: url("../assets/pelicula-modo-noc.svg");
}

*,
*:before,
*:after {
  border: 0;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-texto);
  font-weight: 700;
}

a:visited {
  color: unset;
}

a {
  text-decoration: none;
}

.gif {
  width: 357px;
  height: 275px;
  position: relative;
  margin: 10px 0;
}

.gif .prueba-gifs {
  padding-top: 7px;
  display: none;
  position: absolute;
  width: 195px;
  top: 0;
}

.gif .prueba-gifs li .b-like,
.gif .prueba-gifs li .b-down,
.gif .prueba-gifs li .b-exp {
  position: absolute;
  right: -110px;
  width: 32px;
  height: 32px;
  opacity: 1;
}

.gif .prueba-gifs li .b-like {
  right: -30px;
}

.gif .prueba-gifs li .b-like:hover {
  background-image: url(../assets/icon-fav-hover.svg);
  background-repeat: no-repeat;
}

.gif .prueba-gifs li .b-down {
  right: -70px;
}

.gif .prueba-gifs li .b-down:hover {
  background-image: url(../assets/icon-download-hover.svg);
  background-repeat: no-repeat;
}

.gif .prueba-gifs li .b-exp:hover {
  background-image: url(../assets/icon-max-hover.svg);
  background-repeat: no-repeat;
}

.gif:hover {
  background-color: #572ee5;
}

.gif:hover img {
  opacity: 0.3;
}

.gif:hover .prueba-gifs {
  display: block;
}

.gif2 {
  width: 340px;
  height: 275px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.gif2 .prueba-gifs {
  padding-top: 7px;
  display: none;
  position: absolute;
  width: 195px;
  top: 0;
}

.gif2 .prueba-gifs li .b-like,
.gif2 .prueba-gifs li .b-down,
.gif2 .prueba-gifs li .b-exp {
  opacity: 1;
}

.gif2 .prueba-gifs li .b-like:hover {
  background-image: url(../assets/icon-fav-hover.svg);
  background-repeat: no-repeat;
}

.gif2 .prueba-gifs li .b-down:hover {
  background-image: url(../assets/icon-download-hover.svg);
  background-repeat: no-repeat;
}

.gif2 .prueba-gifs li .b-exp:hover {
  background-image: url(../assets/icon-max-hover.svg);
  background-repeat: no-repeat;
}

.gif2:hover {
  background-color: #572ee5;
}

.gif2:hover img {
  opacity: 0.3;
}

.gif2:hover .prueba-gifs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (min-width: 768px) {
  .gif {
    width: 357px;
  }
  .gif .prueba-gifs li .b-like,
  .gif .prueba-gifs li .b-down,
  .gif .prueba-gifs li .b-exp {
    position: absolute;
    right: -155px;
    width: 32px;
    height: 32px;
    opacity: 1;
  }
  .gif .prueba-gifs li .b-like {
    right: -75px;
  }
  .gif .prueba-gifs li .b-down {
    right: -115px;
  }
  .gif2 {
    width: 357px;
  }
  .gif2 li .b-like,
  .gif2 li .b-down,
  .gif2 li .b-exp {
    position: unset;
  }
}

header {
  border-top: solid 5px var(--color-linea);
  background-color: var(--background);
  width: 100%;
  padding-bottom: 50px;
}

header .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .head .head-mobile {
  padding: 5% 5% 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .head .head-mobile .logo {
  background: var(--logo-mobile) no-repeat;
  width: 56px;
  height: 49px;
}

header .head .head-mobile .burger {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: var(--menu-hamburguesa) no-repeat;
  width: 15px;
  height: 14px;
}

header .head .burger-responsive {
  display: none;
}

header .head .burger-responsive li:hover {
  border-bottom: solid 2px #50e3c2;
}

header .head .burger-responsive li:active {
  color: #9cafc3;
  border-bottom: unset;
}

header .head .burger-responsive #btn-add {
  display: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

header .head .is-active {
  display: block;
}

header .head .is-active ul {
  background: var(--color-linea);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5px;
  height: 100vh;
}

header .head .is-active ul li {
  color: #fff;
  padding: 20px 0 15px;
  border-bottom: solid 2px #9cafc3;
}

header .search {
  margin-top: 20px;
}

header .search h1 {
  font-size: 30px;
  margin: 0 auto;
  max-width: 250px;
  color: var(--color-texto);
  text-align: center;
  margin-bottom: 20px;
}

header .search h1 .g_color {
  color: #50e3c2;
}

header .search ul {
  margin: 0 auto;
  width: 70%;
}

header .search ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

header .search ul li img {
  width: 100%;
}

header .search form {
  margin: 0 auto;
  width: 90%;
  border-radius: 27px;
  border: solid 1px var(--color-texto);
  padding-left: 10px;
}

header .search form .search-div {
  margin: 0 auto;
  padding: 10px 0;
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-template: "input  boton";
  -ms-grid-columns: 9fr 1fr;
      grid-template-columns: 9fr 1fr;
}

header .search form .search-div input {
  grid-area: input;
}

header .search form .search-div input::-webkit-input-placeholder {
  font-size: 13px;
  color: #9cafc3;
}

header .search form .search-div input:-ms-input-placeholder {
  font-size: 13px;
  color: #9cafc3;
}

header .search form .search-div input::-ms-input-placeholder {
  font-size: 13px;
  color: #9cafc3;
}

header .search form .search-div input::placeholder {
  font-size: 13px;
  color: #9cafc3;
}

header .search form .search-div input {
  outline: none;
  margin-left: 15px;
  padding-left: 10px;
  border-radius: 27px;
  font-size: 13px;
  background-color: var(--background);
  color: var(--color-input);
}

header .search form .search-div #search-icon {
  grid-area: boton;
  background: var(--icono-busqueda) no-repeat;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

header .search form .suggestions {
  padding: 5px 0;
  margin: 0 auto;
  width: 95%;
  border-top: solid 1px var(--color-texto);
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .search form .suggestions span {
  cursor: pointer;
  padding: 2px 0;
  padding-left: 15px;
  color: var(--color-texto);
}

header .search .results {
  padding: 20px;
  color: var(--color-texto);
  max-width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}

header .search .cuadrogip {
  width: 100%;
  height: 275px;
}

header .search .button-more {
  margin: 0 auto;
  background: var(--ver-mas);
  width: 127px;
  height: 50px;
  cursor: pointer;
  display: none;
}

header .search .button-more:hover {
  background: var(--ver-mas-hover);
}

header .search .text1 {
  margin-top: 30px;
  text-align: center;
}

header .search .text1 span {
  display: block;
  margin: 0 auto;
  color: var(--color-texto);
  max-width: 225px;
  line-height: 25px;
}

header .favs {
  text-align: center;
}

header .favs .fav-span {
  display: block;
  padding-top: 5px;
  color: var(--color-texto);
  font-size: 25px;
  font-weight: 500;
}

header .favsContainer {
  padding: 50px;
  color: var(--color-texto);
  max-width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}

header .favsContainer .cuadrogip {
  width: 100%;
  height: 275px;
}

header .favsContainer ul {
  margin: 0 auto;
}

header .favsContainer span {
  max-width: 400px;
  display: block;
  text-align: center;
  margin: 0 auto;
  font-size: 22px;
  color: #50e3c2;
}

@media screen and (min-width: 768px) {
  header .head {
    margin: 1% 5% 5%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  header .head .head-mobile {
    padding: unset;
  }
  header .head .logo {
    background: var(--logo) no-repeat;
    width: 68px;
    height: 60px;
  }
  header .head .burger {
    display: none;
  }
  header .head .burger-responsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 70%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  header .head .burger-responsive .burger {
    display: none;
  }
  header .head .burger-responsive a {
    color: var(--color-texto);
  }
  header .head .burger-responsive ul {
    display: block;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  header .head .burger-responsive ul li {
    display: inline-block;
    padding: 0 15px;
    color: var(--color-texto);
    font-weight: 700;
  }
  header .head .burger-responsive ul li span {
    cursor: pointer;
  }
  header .head .burger-responsive #btn-add {
    background: var(--crear);
    width: 54px;
    height: 54px;
    display: block;
  }
  header .search h1 {
    max-width: 500px;
    font-size: 35px;
  }
  header .search ul {
    max-width: 500px;
    width: 60%;
  }
  header .search ul li img {
    width: 100%;
  }
  header .search form {
    max-width: 700px;
    width: 60%;
  }
  header .search form input {
    width: 90%;
  }
  header .search form #search-icon {
    width: 5%;
  }
  header .search .results {
    padding: 50px;
  }
  header .search .text1 span {
    max-width: unset;
  }
}

:root {
  --crear: url("../assets/button-crear-gifo.svg");
  --crear-active: url("../assets/CTA-crear-gifo-active.svg");
  --crear-hover: url("../assets/CTA-crear-gifo-hover.svg");
  --menu-hamburguesa: url("../assets/burger.svg");
  --menu-hamburguesa-cerrar: url("../assets/close.svg");
  --logo-mobile: url("../assets/logo-mobile.svg");
  --logo: url("../assets/logo-desktop.svg");
  --header-background-mobile: rgba(87, 46, 229, 0.9);
  --cabecera-background-mobile: #ffffff;
  --background: #ffffff;
  --background-trending: #f3f5f8;
  --color-texto: #572ee5;
  --color-texto-crear: #ffffff;
  --color-linea: #572ee5;
  --color-texto-pie: #000000;
  --color-input: #9cafc3;
  --borde-input: 1px solid #572ee5;
  --icono-busqueda: url("../assets/icon-search.svg");
  --boton-scroll-derecha: url("../assets/button-slider-right.svg");
  --boton-scroll-izquierda: url("../assets/button-slider-left.svg");
  --ver-mas: url("../assets/CTA-ver-mas.svg");
  --ver-mas-hover: url("../assets/CTA-ver-mas-hover.svg");
  --paso-a-paso: url("../assets/paso-a-paso.svg");
  --paso-a-paso-hover: url("../assets/paso-a-paso-hover.svg");
  --camara: url("../assets/camara.svg");
  --camara-luz: url("../assets/element-luz-camara.svg");
  --pelicula: url("../assets/pelicula.svg	");
}

[data-theme="dark"] {
  --crear: url("../assets/CTA-crar-gifo-modo-noc.svg");
  --crear-active: url("../assets/CTA-crear-gifo-active-modo-noc.svg");
  --crear-hover: url("../assets/CTA-crear-gifo-hover-modo-noc.svg");
  --menu-hamburguesa: url("../assets/burger-modo-noct.svg");
  --menu-hamburguesa-cerrar: url("../assets/close-modo-noct.svg");
  --logo-mobile: url("../assets/logo-mobile-modo-noct.svg");
  --logo: url("../assets/logo-modo-noc.svg");
  --header-background-mobile: #000000;
  --cabecera-background-mobile: #37383c;
  --background: #37383c;
  --background-trending: #222326;
  --color-texto: #ffffff;
  --color-linea: #000000;
  --color-texto-pie: #ffffff;
  --color-texto-crear: #000000;
  --color-input: #ffffff;
  --borde-input: 1px solid ##ffffff;
  --icono-busqueda: url("../assets/icon-search-mod-noc.svg");
  --boton-scroll-derecha: url("../assets/button-slider-right-md-noct.svg");
  --boton-scroll-izquierda: url("../assets/button-slider-left-md-noct.svg");
  --ver-mas: url("../assets/CTA-ver+-modo-noc.svg");
  --ver-mas-hover: url("../assets/CTA-ver+hover-modo-noc.svg");
  --paso-a-paso: url("../assets/paso-a-paso-mod-noc.svg");
  --paso-a-paso-hover: url("../assets/paso-a-paso-hover-mod-noc.svg");
  --camara: url("../assets/camara-modo-noc.svg");
  --camara-luz: url("../assets/element-luz-camara.svg");
  --pelicula: url("../assets/pelicula-modo-noc.svg");
}

.main {
  background-color: var(--background-trending);
  color: var(--color-texto);
  padding: 60px 0 60px 0;
}

.main .main-text1 {
  text-align: center;
}

.main .main-text1 span {
  display: block;
  margin: 0 auto;
  max-width: 163px;
  line-height: 25px;
}

.main .slider {
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
}

.main .slider .slide {
  margin: 50px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .slider .slide .trendingGifs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .slider .slide .trendingGifs li {
  padding: 0 10px;
}

.main .slider .slide .trendingGifs li img {
  width: 100%;
}

.create {
  background-color: var(--background);
  padding: 0px 5%;
  -ms-flex-line-pack: center;
      align-content: center;
}

.create .cam_flex {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.create .cam_flex .move1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 180px;
  left: 50px;
}

.create .cam_flex .move1 #camara {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: var(--camara) no-repeat;
  width: 123px;
  height: 163px;
}

.create .cam_flex .move1 #camara-luz {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: var(--camara-luz) no-repeat;
  width: 91px;
  height: 151px;
  display: block;
  margin-top: 26px;
}

.create .cam_flex .cam_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: solid 1px var(--color-texto);
  width: 50%;
  height: 559px;
}

.create .cam_flex .cam_content .cam {
  width: 100%;
}

.create .cam_flex .rail {
  position: relative;
  top: 110%;
  left: 60px;
}

.create .center {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.create .center .pasos {
  text-align: center;
  font-size: 25px;
  color: var(--color-texto);
  border: solid 1px var(--color-texto);
  border-radius: 150px;
  display: block;
  width: 30px;
  margin: 0px 10px;
}

.create .movie-line {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.create .movie-line #pelicula {
  margin-right: 60px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  background: var(--pelicula) no-repeat;
  width: 142px;
  height: 89px;
}

.create .movie-line .line {
  margin: 0 auto;
  border: solid 5px var(--color-texto);
  -ms-flex-line-pack: center;
      align-content: center;
  border-radius: 25px;
  width: 70%;
  margin-top: 1%;
}

.create .button {
  margin: 20px auto 0;
  background-color: var(--background);
  cursor: pointer;
  width: 127px;
  height: 50px;
  color: var(--color-texto);
  border: solid 2px var(--color-texto);
  border-radius: 100px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.create .button:hover {
  background-color: var(--color-texto);
  color: var(--color-texto-crear);
}

@media screen and (min-width: 768px) {
  .main .main-text1 span {
    max-width: unset;
  }
  .main .slider {
    max-width: unset;
    display: block;
  }
  .main .slider .slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main .slider ul {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 100%;
  }
  .main .slider ul #btn-left {
    background: var(--boton-scroll-izquierda) no-repeat;
    width: 40px;
    height: 40px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    outline: none;
  }
  .main .slider ul #btn-right {
    background: var(--boton-scroll-derecha) no-repeat;
    width: 40px;
    height: 40px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    outline: none;
  }
}

.cursor {
  cursor: pointer;
}

footer {
  border-bottom: solid 5px var(--color-linea);
  background-color: var(--background);
  color: var(--color-texto);
  text-align: center;
}

footer .foot .footer-divider span {
  display: block;
  padding: 50px 0 20px 0;
}

footer .foot .footer-divider ul li {
  display: inline;
  padding: 5px;
}

footer .foot .copy {
  display: block;
  padding: 45px 0 20px 0;
}

@media screen and (min-width: 768px) {
  footer {
    padding: 2.5% 0% 0%;
  }
  footer .foot {
    padding: 0 5% 2.5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .foot .footer-divider {
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  footer .foot .footer-divider span {
    margin: unset;
  }
  footer .foot .footer-divider ul {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  footer .foot .footer-divider ul li {
    display: inline-block;
    padding: 50px 10px;
  }
  footer .foot .copy {
    display: block;
    margin: unset;
  }
}

.carrusel-format {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a {
  text-decoration: none;
}

.Carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0px 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Carousel h2 {
  font-size: 26px;
  line-height: 38px;
  padding-bottom: 24px;
  opacity: .9;
  text-transform: uppercase;
  letter-spacing: 10px;
  text-align: center;
}

/* images */
.slick-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 304px;
  padding: 10px 0px;
  margin: 0px auto;
  max-width: 90vw;
  overflow: hidden;
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.slick {
  position: relative;
  width: 275px;
  padding: 0 18px;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.slick h4 {
  position: absolute;
  z-index: 1;
  font-size: 22px;
  line-height: 23px;
  color: #fff;
  padding: 15px;
}

.slick h4 small {
  font-size: 15px;
  display: block;
}

.slick a img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 300px;
  width: 100%;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.slick a img:hover {
  opacity: .85;
}

/* buttons */
.slick-arrow {
  border-radius: 30px;
  background-color: #fff;
  position: absolute;
  z-index: 4;
  width: 48px;
  height: 48px;
  text-align: center;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  border: 0;
  cursor: pointer;
}

.slick-arrow:focus {
  outline: 0;
}

.slick-arrow svg {
  width: 12px;
  height: 100%;
  color: rgba(0, 0, 0, 0.7);
}

.slick-prev {
  left: 0px;
}

.slick-next {
  right: 0px;
}

.popContainer {
  position: fixed;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=styles.css.map */